<!doctype html>
<html>
    <head>
    <title>Book Form</title>
    </head>
    <body class='book-form'>
    <h1>Book form</h1>

    <form method='POST' action='/book/add'>
    <input placeholder="title" name="title" />
    <input placeholder="authors" name="authors" />
    <input type="submit"></button>
    </form>
    </body>
</html>